form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5rem auto;

  width: 60%;
  padding: 2rem 0;

  border-radius: 8px;

  background-color: rgba(223, 244, 255, 0.268);
  color: rgb(255, 242, 242);
}

.currency-input {
  margin: auto;
}
label {
  margin: 0.5rem 0.1rem;
  font-size: 1.25rem;
}

select,
input {
  border-radius: 6px;
  border: 2px solid rgb(226, 215, 215);
  height: 3rem;

  background-color: transparent;
  color: rgb(228, 229, 231);
  opacity: 1;
}
input {
  padding-left: 1rem;
}

select:hover,
input:hover {
  border-color: rgb(60, 59, 59);
}
select:focus,
input:focus {
  border: 2px solid rgb(60, 59, 59);
  color: rgb(225, 229, 230);
}
select option {
  background-color: rgb(100, 103, 105);
}

::placeholder {
  color: rgb(228, 229, 231);
  opacity: 1;
}
